.page-container {
	position: relative;
	top: 48px;
	background: rgb(216, 214, 226);
	width: 100%;
	height: 100vh;

  &.pushed {
		 transform: translateX(30vw);
  }
}
#about {

  .tray-wrapper {
    margin: 0 150px;
    background: white;
  }
  .page-header {
    p { font: bold 14px 'PT Mono', monospace; }
  }

  .content-container {
    .column-3 {
      img {}
      .col-title {}
      .col-description {}
    }
    .center-container {
      p {}
    }
  }
}
