$new-blue: #74b1e6;
$comp-pink: #f1eaf0; 
#faq {
  background: white;
  //background: #d8d6e2;
  width: 100%;
  height: 100%;
  overflow: hidden;

  canvas {
    position: absolute;
    top: 30%;
    width: 100%;
    height: auto;
  }


  .hero {
    width: 100%;
    height: 30%;
    background: $comp-pink;
    position: absolute;
  }

  .section-container {
    width: 50%;
    margin: 100px;
    height: 100%;
    background:white;
    position:absolute;
    overflow:hidden;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    border-bottom: 1px solid rgba(34, 34, 34, 0.2);

    .section-title {}
    .body-copy{}
  }
}
