.profile-container {
	position: 'absolute';
	background: '#A5DFF8';
	z-index: 90;
	width: '35vw';
	top: '39px';
}

#pic {
}

.info-container {
	.info {
	}
}

.automation-container {
	.automation-command {
	}
}



.bio {
	width: '200px';
	height: '200px';
	border-radius: '100px';
	background: 'url(images/bio.png) no-repeat';
	margin: '50px auto';
}
