.app-container {
	position: relative;
	top: 48px;
  max-width: 1500px;
	background: wheat;
	width: 100%;
  margin: 0 auto;
}

.aura-container {
	position:relative;
	background: rgb(216, 214, 226);
	width: 100%;
	transition: transform 600ms;
	transition-timing-function: cubic-bezier(.56,.97,.94,.99);
  overflow:hidden;
  width: 100%;

	&.pushed {
		 transform: translateX(30vw);
	}
}
