.automation-container {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	overflow:hidden;
	background: #D3D3D3;
	box-shadow: inset 0px 0px 15px -2px #888888;

	.section-title {
		font-family: 'Overpass Mono', monospace;
		font-size: 24px;
		margin: 40px;
		border-bottom: 1px solid black;
		padding-bottom: 10px;
	}
}
