.automation-container {
	width: 92%;
	height: 350px;
	margin: 0 auto;
	padding: 20px;
	overflow:hidden;
	background: #D3D3D3;

	.automation-command {
		    width: 100%;
		    height: 50px;
		    background: white;
		    float: left;
		    margin-bottom: 20px;
	}
}
