$profile-width: 30vw;

.profile-container {
	position: relative;
	overflow:hidden;
	background: #A5DFF8;
	z-index: 90;
	width: 100%;
	height: 100vh;
}

.info-container {
	position: relative;
	margin-bottom: 30px;

	p {
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		line-height: 10px;
	}
}

.bio {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background: gray;
	margin: 50px auto;
}
