$profile-width: 30vw;

.side-container {
	position: absolute;
	overflow:hidden;
	background: #A5DFF8;
	left: -$profile-width;
	z-index: 90;
	width: $profile-width;
	height: 100vh;
	-webkit-box-shadow: 5px -5px 39px -14px rgba(0,0,0,1);
	-moz-box-shadow: 5px -5px 39px -14px rgba(0,0,0,1);
	box-shadow: 5px -5px 39px -14px rgba(0,0,0,1);
	transition: transform 600ms;
	transition-timing-function: cubic-bezier(.56,.97,.94,.99);


	&.active {
		 transform: translateX(30vw);
	}
}
